<div class="container">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <div class="signings">
      <app-header></app-header>

      <!-- Cards -->
      <div class="cards">
        <div *ngFor="let card of quarterlyCards" class="card">
          <h3>{{ card.title }}</h3>
          <p>{{ card.value }}</p>
          <span>{{ card.percentage }}</span>
        </div>
      </div>

      <!-- Table -->
      <div class="table-container">
        <h2>Signings</h2>
        <table class="scrollable-table">
          <thead>
            <tr>
              <th>Client</th>
              <th>Product</th>

              <th>Total Value</th>
              <th>iACV</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Year</th>
              <th>Quarter</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of signingsData">
              <td>{{ row.client_name }}</td>
              <td>{{ row.product_name }}</td>
              <td>{{ row.total_contract_value }}</td>
              <td>{{ row.incremental_acv }}</td>
              <td>{{ row.start_date }}</td>
              <td>{{ row.end_date }}</td>
              <td>{{ row.fiscal_year }}</td>
              <td>{{ row.fiscal_quarter }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Charts -->
      <div class="chart-container">
        <apx-chart #barChartRef
          [series]="barChart.series"
          [chart]="barChart.chart"
          [xaxis]="barChart.xaxis"
          [plotOptions]="barChart.plotOptions"
          [dataLabels]="barChart.dataLabels"
          [colors]="barChart.colors">
        </apx-chart>
      </div>
      <!-- Provincial Distribution Polar Area Chart -->
        <div class="chart-container">
          <h2 class="text-xl font-semibold mb-4">Provincial Distribution</h2>
          <apx-chart
            [series]="polarChart.series"
            [chart]="polarChart.chart"
            [labels]="polarChart.labels"
            [colors]="polarChart.colors"
            [responsive]="polarChart.responsive"
          ></apx-chart>
        </div>


    </div>
  </div>
</div>
