<div class="signings">
    <!-- Cards Section -->
    <div class="cards">
        <div *ngFor="let card of cards" class="card">
        <h3>{{ card.title }}</h3>
        <p>{{ card.value }}</p>
        <span>{{ card.percentage }}</span>
        </div>
    </div>

    <!--Signings Estimates Table-->
    <div class="table-container">
        <h2>Signings Estimates</h2>
        <table class="scrollable-table">
            <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Opportunity ID</th>
                    <th>Stage</th>
                    <th>Forecast Category</th>
                    <th>Probability</th>
                    <th>iACV</th>
                    <th>Signing Date</th>
                    <th>Time Period</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of signingsData">
                    <td>{{ row.account_name }}</td>
                    <td>{{ row.opportunity_id }}</td>
                    <td>{{ row.stage }}</td>
                    <td>{{ row.forecast_category }}</td>
                    <td>{{ row.probability }}</td>
                    <td>{{ row.incremental_acv }}</td>
                    <td>{{ row.signing_date }}</td>
                    <td>{{ row.time_period }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--Charts Section-->
    <div class="chart-container">
        <apx-chart 
          [series]="barChart.series" 
          [chart]="barChart.chart" 
          [xaxis]="barChart.xaxis"
          [plotOptions]="barChart.plotOptions"
          [dataLabels]="barChart.dataLabels"
          [colors]="barChart.colors">
        </apx-chart>
    </div>

    <!--Signings Target Gauge-->
    <div class="chart-container relative">
        <apx-chart 
          [series]="gaugeChart.series" 
          [chart]="gaugeChart.chart"
          [plotOptions]="gaugeChart.plotOptions"
          [fill]="gaugeChart.fill">
        </apx-chart>
      </div>
</div>


