.executives {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 20px;
}

.cards {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    max-width: 100%;
}

.card {
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
    background-color: #ffffff;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card h3 {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: bold;
}

.card p {
    margin: 6px 0;
    font-size: 16px;
}

.card p:nth-child(3) {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
}

.table-container {
    grid-column: 1 / -1;
    max-width: 100%;
    margin: 0;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
}

.table-header {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-container th {
    background-color: #f7f7f7;
}

.table-container tbody {
    display: block;
    max-height: 300px;
    overflow-y: auto;
}

.table-container tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.clickable-row {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clickable-row:hover {
    background-color: #f0f0f0;
}

.expanded-row {
    background-color: #f0f0f0;
}

.chart-container {
    grid-column: span 2;
    max-width: 100%;
    margin: 0;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
}

.add-executive {
    grid-column: span 2; /* Add client form spans 2 columns */
    max-width: 100%;
    margin: 20px 0; /* Add space around the form */
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 12px; /* Adds space between form elements */
    margin-top: 12px;
}

.form-group input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out;
}

.submit-button {
    margin-top: 12px;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
  
.submit-button:hover {
    background-color: #0056b3;
}