<div class="container">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <div class="pipeline">
      <app-header></app-header>

      <!-- Cards Section -->
      <div class="cards">
        <div *ngFor="let card of cards" class="card">
          <h3>{{ card.title }}</h3>
          <p>{{ card.value }}</p>
          <span>{{ card.percentage }}</span>
        </div>
      </div>

      <!-- Pipeline Table -->
      <div class="table-container">
        <h2 class="text-xl font-semibold mb-4">Current Opportunites</h2>
        <table class="scrollable-table">
          <thead>
            <tr>
              <th>Account Name</th>
              <th>Opportunity ID</th>
              <th>Stage</th>
              <th>Forecast Category</th>
              <th>Probability</th>
              <th>Value</th>
              <!-- <th>Close Date</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of pipelineData">
              <td>{{ row.account_name }}</td>
              <td>{{ row.opportunity_id }}</td>
              <td>{{ row.stage }}</td>
              <td>{{ row.forecast_category }}</td>
              <td>{{ row.probability }}</td>
              <td>{{ row.opportunity_value }}</td>
              <!-- <td>{{ row.close_date }}</td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Funnel Chart Section -->
      <div class="chart-container" *ngIf="funnelChart.series">
        <h3>Stage of Opportunity</h3>
        <apx-chart
          #funnelChartRef
          [series]="funnelChart.series"
          [chart]="funnelChart.chart"
          [xaxis]="funnelChart.xaxis"
          [plotOptions]="funnelChart.plotOptions"
          [dataLabels]="funnelChart.dataLabels"
          [colors]="funnelChart.colors"
        >
        </apx-chart>
      </div>

      <!-- Product Forecast Heatmap Chart -->
      <div class="chart-container" *ngIf="heatmapChart.series">
        <h3>Value Based on Forecast Category</h3>
        <apx-chart
          #heatmapChartRef
          [series]="heatmapChart.series"
          [chart]="heatmapChart.chart"
          [xaxis]="heatmapChart.xaxis"
          [dataLabels]="heatmapChart.dataLabels"
          [plotOptions]="heatmapChart.plotOptions"
          [fill]="heatmapChart.fill"
          [legend]="heatmapChart.legend"
        >
        </apx-chart>
      </div>
    </div>
  </div>
</div>
