<div class="container">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <div class="wins-page">
      <app-header></app-header>
      <!-- Cards Section -->
      <div class="cards">
        <div *ngFor="let card of cards" class="card">
          <h3>{{ card.title }}</h3>
          <p>{{ card.value }}</p>
          <span>{{ card.percentage }}</span>
        </div>
      </div>
      <!-- Clients Section -->
      <div class="table-container">
        <h2 class="table-title">Wins List</h2>
        <div class="scrollable-table">
          <table class="custom-table">
            <thead>
              <tr>
                <th>Wins ID</th>
                <th>Name</th>
                <th>Industry</th>
                <th>Value</th>
                <th>Forecast</th>
                <th>Date of Win</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let win of wins">
                <td>{{ win.opportunity_id }}</td>
                <td>{{ win.account_name }}</td>
                <td>{{ win.industry }}</td>
                <td>{{ win.deal_value }}</td>
                <td>{{ win.forecast_category }}</td>
                <td>{{ win.win_date }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Charts Section -->
      <div class="chart-container">
        <div *ngIf="!isWinsDataLoaded" class="loading">
          Loading chart data...
        </div>
        <apx-chart
          *ngIf="isWinsDataLoaded"
          #barChartRef
          [series]="chartOptionsOne.series || []"
          [chart]="chartOptionsOne.chart"
          [xaxis]="chartOptionsOne.xaxis"
          [yaxis]="chartOptionsOne.yaxis"
          [plotOptions]="chartOptionsOne.plotOptions"
          [dataLabels]="chartOptionsOne.dataLabels"
          [stroke]="chartOptionsOne.stroke"
          [fill]="chartOptionsOne.fill"
          [tooltip]="chartOptionsOne.tooltip"
          [legend]="chartOptionsOne.legend"
        ></apx-chart>
      </div>
      <div class="chart-container">
        <div *ngIf="!isWinsDataLoaded" class="loading">
          Loading chart data...
        </div>
        <apx-chart
          #lineChartRef
          [series]="chartOptionsTwo.series || []"
          [chart]="chartOptionsTwo.chart"
          [xaxis]="chartOptionsTwo.xaxis"
          [stroke]="chartOptionsTwo.stroke"
          [tooltip]="chartOptionsTwo.tooltip"
          [dataLabels]="chartOptionsTwo.dataLabels"
          [legend]="chartOptionsTwo.legend"
          [markers]="chartOptionsTwo.markers"
          [grid]="chartOptionsTwo.grid"
          [yaxis]="chartOptionsTwo.yaxis"
          [title]="chartOptionsTwo.title"
        ></apx-chart>
      </div>
    </div>
  </div>
</div>
