.wins-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 20px;
  color: var(--text-color);
}

.cards {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  max-width: 100%;
}

.card {
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
  background-color: var(--card-bg);
  color: var(--text-color);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card h3 {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: bold;
}

.card p {
  margin: 6px 0;
  font-size: 16px;
}

.card p:nth-child(3) {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
}

.table-container {
  grid-column: 1 / -1;
  max-width: 100%;
  margin: 0;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: var(--card-bg);
  color: var(--text-color);
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid var(--table-border);
}

.table-container th {
  background-color: var(--card-bg);
}

.table-container tbody {
  display: block;
  max-height: 300px;
  overflow-y: auto;
}

.table-container tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.chart-container {
  grid-column: span 2;
  max-width: 100%;
  margin: 0;
  padding: 16px;
  background-color: var(--card-bg);
  border-radius: 8px;
  color: var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Scrollbar */
.table-container tbody::-webkit-scrollbar {
  width: 8px;
}

.table-container tbody::-webkit-scrollbar-thumb {
  background-color: #5f606e;
  border-radius: 4px;
}

.table-container tbody::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

/* Responsive Layout */
@media (max-width: 768px) {
  .wins-page {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .chart-container,
  .table-container {
    grid-column: 1 / -1;
  }

  .custom-table th:nth-child(3),
  .custom-table td:nth-child(3),
  .custom-table th:nth-child(5),
  .custom-table td:nth-child(5),
  .custom-table th:nth-child(6),
  .custom-table td:nth-child(6) {
    display: none;
  }

  .custom-table {
    table-layout: auto;
  }

  .custom-table th,
  .custom-table td {
    word-wrap: break-word;
    white-space: normal;
  }
}

@media (max-width: 480px) {
  .wins-page {
    grid-template-columns: 1fr;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .chart-container,
  .table-container {
    grid-column: 1 / -1;
  }

  .custom-table th,
  .custom-table td {
    font-size: 14px;
  }
}
