<!-- dashboard.component.html -->
<div class="dashboard">
  <!-- Cards Section -->
  <div class="cards">
    <div *ngFor="let card of cards" class="card">
      <h3>{{ card.title }}</h3>
      <p>{{ card.value }}</p>
      <span>{{ card.percentage }}</span>
    </div>
  </div>

  <!-- Chart Section -->
  <!-- <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [fill]="chartOptions.fill"
      [tooltip]="chartOptions.tooltip"
      [stroke]="chartOptions.stroke"
    ></apx-chart>
  </div> -->

  <!-- Territory Chart Section -->
  <!-- <div id="territory-chart">
    <apx-chart
      [series]="territoryChartOptions.series"
      [chart]="territoryChartOptions.chart"
      [xaxis]="territoryChartOptions.xaxis"
      [stroke]="territoryChartOptions.stroke"
      [colors]="territoryChartOptions.colors"
      [dataLabels]="territoryChartOptions.dataLabels"
      [tooltip]="territoryChartOptions.tooltip"
      [plotOptions]="territoryChartOptions.plotOptions"
      [markers]="territoryChartOptions.markers"
      [yaxis]="territoryChartOptions.yaxis"
      [fill]="territoryChartOptions.fill"
      [title]="territoryChartOptions.title"
    ></apx-chart>
  </div> -->
  <div *ngIf="accountExecutives.length">
    <table>
      <thead>
        <tr>
          <th>Executive ID</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let executive of accountExecutives">
          <td>{{ executive.executive_id }}</td>
          <td>{{ executive.first_name }}</td>
          <td>{{ executive.last_name }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!accountExecutives.length">
    <p>Loading account executives...</p>
  </div>



</div>